:root {
	--white-color: #fff;
	--black-color: #000;
	--text-color: #333;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

* {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	font-family: Helvetica Neue,Helvetica,Arial,文泉驛正黑,WenQuanYi Zen Hei,Hiragino Sans GB,儷黑 Pro,LiHei Pro,Heiti TC,微軟正黑體,Microsoft JhengHei UI,Microsoft JhengHei,sans-serif;
	font-size: 16px;
	line-height: 1rem;
	box-sizing: border-box;
}

.grid {
	width: 1200px;
	max-width: 100%;
	margin: 0 auto;
}

.grid__full-width {
	width: 100px;
}

.grid__row {
	display: flex;
	flex-wrap: wrap;
}

.pdd-left-8 {
	padding-left: 8px;
}

#header {
	/*height: 107px;*/
	background: linear-gradient(-180deg,#f53d2d,#f63);
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateZ(0);
    z-index: 100;
}

.header__topbar {
	height: 2.125rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 0.8125rem;
}


.header__topbar .header__topbar-list {
	list-style-type: none;
	display: flex;
}

.header__topbar-items {
	margin: 0 8px;
	position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__topbar-items,
.topbar-items-link {
	color: var(--white-color);
	text-decoration: none;
}

.point-hover:hover {
	opacity: 0.7;
	cursor: pointer;
}

.topbar-user {
	font-weight: bold;
}

.separate-left {
	/*padding-right: 8px;*/
	border-right: 1px solid #fb9086;
	/*margin-right: -1px;*/
}

.topbar__icon {
	color:  var(--white-color);
	text-decoration: none;
	margin: 0 0px 0 6px;
}

.topbar__icon i {
	font-size: 17px;
}

.topbar__qrcode {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 11.25rem;
	animation: fadeIn ease 0.2s;
}

.header__topbar-items:hover .topbar__qrcode {
	display: block;
}

.topbar__qrcode-box {
	padding: 2px;
	border-radius: 2px;
	background: #fff;
	margin-top: 0.625rem;
}

.topbar__qr-img img {
	width: 100%;
}

.topbar__applink-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.7rem 0.3125rem;
    flex-wrap: wrap;
}

.topbar__applink-img img {
	width: 4.375rem;
	margin-top: 0.3125rem;
}

.topbar__notif {
	display: none;
	width: 400px;
	position: absolute;
	top: 100%;
	right: 0;
	transform-origin: calc(100% - 30px) top;
	animation: notif-popup linear 0.2s;
	will-change: opacity, transform;
	z-index: 1;
}

 @keyframes notif-popup{
	from {
		opacity: 0.5;
		transform: scale(0);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

.header__topbar-items:hover .topbar__notif {
	display: block;
}

.topbar__notif-box {
	width: 100%;
	/*height: 350px;*/
	background-color: #fff;
	margin-top: 0.625rem;
	border-radius: 2px;
	border: 1px solid #d3d3d3;
}

.topbar__notif-box::before {
	content: "";
	display: block;
	position: absolute;
	top: 2px;
    right: 20px;
    border-bottom: 10px solid #fff;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
}

.notif-head {
	color: #000;
	opacity: 0.26;
	font-weight: 400;
	padding: 12px 10px;
}

.notif-list {
	list-style-type: none;
}

.notif-item {
	
}

.notif-item:hover {
	background-color: #f8f8f8;
}

.notif-link {
	display: flex;
	text-decoration: none;
	align-items: start;
	padding: 8px 10px;
}

.notif-img {
	width: 40px;
	object-fit: contain;
}

.notif-info {
	margin-left: 12px;
}

.notif-name {
	color: var(--black-color);
	font-size: 0.875rem;
	margin-bottom: 5px;
}

.notif-description {
	color: var(--black-color);
	opacity: 0.5;
	line-height: 0.9375rem;
	font-size: 0.75rem;
}

.notif-footer {
	background-color: #f7f7f7;
	text-align: center;
}

.btn-all-notif {
	display: block;
	text-decoration: none;
	color: #000;
	padding: 12px 10px;
}

.header__main {
	display: flex;
	align-items: center;
	/*height: 5.3125rem;
    justify-content: space-between;*/
	padding: 1rem 0 0.625rem;
	margin: 0 8px;
}

.header__logo {
	width: 202px;
	/*height: 50px;*/
	padding-right: 2.5rem;
}

.header__logo-link {
	display: block;
	width: 150px;
	padding: 2px;
}

.header__sreach {
	flex: 1;
	/*width: 840px;*/
	height: 40px;
	background-color: #fff;
	border-radius: 2px;
	display: flex;
	align-items: center;
	box-shadow: 0px 0.125rem 0.25rem rgb(0 0 0 / 50%);
	padding: 5px 0px;
}

.header__sreach-bar-box {
	flex: 1;
	height: 100%;
	position: relative;
}

.header__sreach-bar {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	padding: 0 8px;
	border-radius: 2px;
}

.header__search-history {
	display: none;
	position: absolute;
	width: calc(100% - 32px);
	top: 100%;
	left: 0;
	padding-top: 0.625rem;
}

.header__sreach-bar:focus ~ .header__search-history {
	display: block;
}

.header__search-history-box {
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0px 0.125rem 0.25rem rgb(0 0 0 / 50%);
}

.sreach-history-head {
	color: #000;
	opacity: 0.26;
	font-weight: 400;
	padding: 10px 0.625rem;
	font-size: 14px;
}

.sreach-history-list {
	list-style: none;
}

.sreach-history-item {
	
}

.sreach-history-item:hover {
	background-color: #f8f8f8;
}

.sreach-history-link {
	display: block;
	padding: 0.625rem;
    font-size: .875rem;
    text-decoration: none;
    color: var(--text-color);
}


.sreach-select {
	border-left: 1px solid #e8e8e8;
	padding-left: 16px;
	padding-right: 0.625rem;
	display: flex;
	align-items: center;
	position: relative;
	height: 100%;
	cursor: pointer;
}

.sreach-select-label{
	font-size: 14px;
}

.sreach-select-icon {
	font-size: 10px;
	opacity: 0.6;
	margin-left: 0.6rem;
}

.sreach-select-option {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	width: 150px;
	padding-top: 0.625rem;
}

.sreach-select:hover .sreach-select-option {
	display: block;
}

.sreach-option {
	list-style-type: none;
	/*margin-top: 10px;*/
	background-color: var(--white-color);
	border-radius: 2px;
	font-size: 14px;
	box-shadow: 0px 0.125rem 0.25rem rgb(0 0 0 / 50%);
}

.sreach-option-item {
	padding: 15px 10px;
	display: flex;
	align-items: center;
}

.sreach-option-item:hover {
	background-color: #f8f8f8;
}

.sreach-option-item span {
	flex: 1;
}

.sreach-option-item i {
	display: none;
}

.item-selected i {
	display: block;
}

.btn-sreach {
	outline: 0;
    background: #fb5533;
    border: none;
    padding: 9px 23px;
    border-radius: 2px;
    color: var(--white-color);
    font-size: 14px;
    cursor: pointer;
    margin-right: 3px;
}

.btn-sreach:hover {
	opacity: 0.8;
}

.header__btn-cart {
	width: 158px;
	text-align: center;
}

.btn-cart {
	display: block;
	width: 40px;
    margin: 0 auto;
}

.btn-cart svg{
	fill: #fff;
	stroke: #fff;
	width: 30px;
}